EOS_ARCHIVE_DIR="/var/eos/archive/"
EOS_ARCHIVE_SVCCLASS="archive"
EOS_AUDIT_ROTATION="1800"
EOS_HTTP_CONNECTION_MEMORY_LIMIT="65536"
EOS_HTTP_THREADPOOL="epoll"
EOS_HTTP_THREADPOOL_SIZE="64"
EOS_INSTANCE_NAME="{{ eos_instance_name }}"
EOS_MGM_ALIAS="{{ eos_hostname_full }}"
EOS_MGM_AUDIT="default"
EOS_MGM_FUSE_BOOKING_SIZE="100000000"
EOS_MGM_GRPC_DONT_REQUEST_CLIENT_CERTIFICATE="please"
EOS_USE_MQ_ON_QDB="0"
EOS_USE_NEW_INODES="1"
EOS_UTF8=""
EOS_XRD_CONNECTION_POOL_SIZE="8"
EOS_XRD_USE_CONNECTION_POOL="1"
LD_LIBRARY_PATH="/opt/eos/xrootd/lib64/:$LD_LIBRARY_PATH"
LD_PRELOAD="/usr/lib64/libjemalloc.so.2"
XDG_CACHE_HOME="/var/eos/scitokens_cache/"
XRD_ROLES="qdb mgm fst.1 fst.2 fst.3"
EOS_GEOTAG=local
